.projectsContainer {
    display: flex;
    width: 100%;
    margin-top: 85px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;

    .card {
        position: relative;
        min-width: 40vw;
        flex-shrink: 1;
        border-radius: 15px;
        overflow: hidden;

        .cover {
            position: relative;
            height: 30vh;
            background-position: center;
            background-size: cover;

            .logoDiv {
                display: flex;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.75);
                backdrop-filter: blur(2px);
                -webkit-backdrop-filter: blur(2px);
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            img { width: 25%; }

            .devStatus {
                position: absolute;
                color: white;
                font-size: 24px;
                top: 12px;
                right: 15px;
            }

            .github {
                position: absolute;
                color: white;
                font-size: 24px;
                bottom: 8px;
                right: 15px;
            }
        }

    }
}