section { padding: 20px 80px; }

.greeting {
    height: 108vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
}

.greeting .container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.75);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greeting h1 {
    margin: 0;
    font-weight: 400;
    font-size: 60px;
}

.greeting h3 {
    margin: 0;
    font-weight: 100;
    font-size: 32px;
}

@media screen and (max-width: 690px) {
    section { padding: 20px 40px; }
}