.skills {
    display: block;
    width: 100%;
    height: min-content;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: grab;
    user-select: none;
    
    .skill {
        display: inline;
        margin-right: 20px;
        
        img {
            width: 10%;
            height: auto;
            user-select: none;

            @media screen and (max-width: 470px) {
                width: 25%;
            }
        }
    }

    &:active {
        cursor: grabbing;
    }

    &::-webkit-scrollbar { height: 3px; }
    &::-webkit-scrollbar-thumb { background-color: var(--secondaryColor); }
}